{% extends "layout.html" %}
{% block body %}
    <h1>Items</h1>
    <form method="post" action="{{ url_for('show_main_theme') }}" class="main_theme">
        <div class="container">
            <div class="row">
                {% for item in items[0:3] %}
                    <div class="col-sm-3">
                        <textarea name="item{{ loop.index-1 }}" cols="20" rows="3" class="form-control">{{ item }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <textarea name="item3" cols="20" rows="3" class="form-control">{{ items[3] }}</textarea>
                </div>
                <div class="col-sm-3">
                    <textarea name="sub_theme" cols="20" rows="3" class="form-control" readonly>{{ sub_theme }}</textarea>
                </div>
                <div class="col-sm-3">
                    <textarea name="item4" cols="20" rows="3" class="form-control">{{ items[4] }}</textarea>
                </div>
            </div>
            <div class="row">
                {% for item in items[5:8] %}
                    <div class="col-sm-3">
                        <textarea name="item{{ loop.index+4 }}" cols="20" rows="3" class="form-control">{{ item }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <input name="items_to_items_sel" type=submit value=戻る class="btn btn-secondary">
            </div>
        </div>
    </form>
{% endblock %}
