{# {% extends "layout.html" %} #}
{% extends "chart.html" %}
{% block body %}

{% set SUBTHEME_COLS = 3 %}
{% set ITEM_COLS = 3 %}

    <h1>Items all</h1>
    <form method="post" action="{{ url_for('show_chart', username=username) }}" class="form-group">
        <div class="table-responsive">
            <table class="table table-bordered" style="width: 800px">
            <!-- subtheme 0~2 items-->
            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS) %}
                    {% for item in items[subtheme_col][0:3] %}
                        <td>
                            <textarea name="item{{subtheme_col}}_{{ loop.index-1 }}" cols="100" class="form-control">{{ item }}</textarea>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>

            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS) %}
                    <td>
                        <textarea name="item{{subtheme_col}}_3" class="form-control">{{ items[subtheme_col][3] }}</textarea>
                    </td>
                    <td>
                        <textarea name="sub_theme{{subtheme_col}}" class="form-control" readonly>{{ sub_themes[subtheme_col] }}</textarea>
                    </td>
                    <td>
                        <textarea name="item{{subtheme_col}}_4" class="form-control">{{ items[subtheme_col][4] }}</textarea>
                    </td>
                {% endfor %}
            </tr>

            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS) %}
                    {% for item in items[subtheme_col][5:8] %}
                        <td>
                            <textarea name="item{{subtheme_col}}_{{ loop.index+4 }}" class="form-control">{{ item }}</textarea>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
            <!-- subtheme 0~2 items End -->


            <!-- subtheme 3~4 items & maintheme & subthemes -->
            <tr>
                <!-- subtheme3 - item0~2 -->
                {% for item_col in range(ITEM_COLS) %}
                    <td>
                        <textarea name="item3_{{ item_col }}" class="form-control">{{ items[3][item_col] }}</textarea>
                    </td>
                {% endfor %}

                <!-- subtheme 0~2 -->
                {% for subtheme_col in range(SUBTHEME_COLS) %}
                    <td>
                        <textarea name="sub_theme{{subtheme_col}}" class="form-control" readonly>{{ sub_themes[subtheme_col] }}</textarea>
                    </td>
                {% endfor %}

                <!-- subtheme4 - item0~2 -->
                {% for item_col in range(ITEM_COLS) %}
                    <td>
                        <textarea name="item4_{{ item_col }}" class="form-control">{{ items[4][item_col] }}</textarea>
                    </td>
                {% endfor %}
            </tr>

            <tr>
                <!-- subtheme3 - item3,4 -->
                <td>
                    <textarea name="item3_3" class="form-control">{{ items[3][3] }}</textarea>
                </td>
                <td>
                    <textarea name="sub_theme3" class="form-control" readonly>{{ sub_themes[3] }}</textarea>
                </td>
                <td>
                    <textarea name="item3_4" class="form-control">{{ items[3][4] }}</textarea>
                </td>

                <!-- subtheme3, maintheme, subtheme4 -->
                <td>
                    <textarea name="sub_theme3" class="form-control" readonly>{{ sub_themes[3] }}</textarea>
                </td>
                <td>
                    <textarea name="main_theme" class="form-control" readonly>{{ main_theme }}</textarea>
                </td>
                <td>
                    <textarea name="sub_theme4" class="form-control" readonly>{{ sub_themes[4] }}</textarea>
                </td>

                <!-- subtheme4 - item3~4 -->
                <td>
                    <textarea name="item4_3" class="form-control">{{ items[4][3] }}</textarea>
                </td>
                <td>
                    <textarea name="sub_theme4" class="form-control" readonly>{{ sub_themes[4] }}</textarea>
                </td>
                <td>
                    <textarea name="item4_4" class="form-control">{{ items[4][4] }}</textarea>
                </td>
            </tr>

            <tr>
                <!-- subtheme3 - item5~7 -->
                {% for item_col in range(ITEM_COLS*2-1, ITEM_COLS*3-1) %}
                    <td>
                        <textarea name="item3_{{ item_col }}" class="form-control">{{ items[3][item_col] }}</textarea>
                    </td>
                {% endfor %}

                <!-- subtheme 5~7 -->
                {% for subtheme_col in range(SUBTHEME_COLS*2-1, SUBTHEME_COLS*3-1) %}
                    <td>
                        <textarea name="sub_theme{{subtheme_col}}" class="form-control" readonly>{{ sub_themes[subtheme_col] }}</textarea>
                    </td>
                {% endfor %}

                <!-- subtheme4 - item0~2 -->
                {% for item_col in range(ITEM_COLS*2-1, ITEM_COLS*3-1) %}
                    <td>
                        <textarea name="item4_{{ item_col }}" class="form-control">{{ items[4][item_col] }}</textarea>
                    </td>
                {% endfor %}
            </tr>
            <!-- subtheme 3~4 items & maintheme & subtheme End -->


             <!-- subtheme 5~7 items-->
            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS*2-1, SUBTHEME_COLS*3-1) %}
                    {% for item in items[subtheme_col][0:3] %}
                        <td>
                            <textarea name="item{{subtheme_col}}_{{ loop.index-1 }}" class="form-control">{{ item }}</textarea>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>

            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS*2-1, SUBTHEME_COLS*3-1) %}
                    <td>
                        <textarea name="item{{subtheme_col}}_3" class="form-control">{{ items[subtheme_col][3] }}</textarea>
                    </td>
                    <td>
                        <textarea name="sub_theme{{subtheme_col}}" class="form-control" readonly>{{ sub_themes[subtheme_col] }}</textarea>
                    </td>
                    <td>
                        <textarea name="item{{subtheme_col}}_4" class="form-control">{{ items[subtheme_col][4] }}</textarea>
                    </td>
                {% endfor %}
            </tr>

            <tr>
                {% for subtheme_col in range(SUBTHEME_COLS*2-1, SUBTHEME_COLS*3-1) %}
                    {% for item in items[subtheme_col][5:8] %}
                        <td>
                            <textarea name="item{{subtheme_col}}_{{ loop.index+4 }}" class="form-control">{{ item }}</textarea>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
            <!-- subtheme 5~7 items End -->
            </table>
        </div>
        <div class="container">
            <div class="row">
                <input name="items_all_to_sub" type=submit value=戻る class="btn btn-secondary">
                <input name="items_all_to_done" type=submit value=完了 class="btn btn-primary">
            </div>
        </div>


    </form>
{% endblock %}
