{% extends "layout.html" %}
{% block body %}
<div class="form-group">
    <h1>Main theme</h1>
    <form method="post" action="{{ url_for('show_chart', username=username) }}" class="main_theme">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <textarea name="main_theme" cols="20" rows="3" class="form-control">{{ main_theme }}</textarea>
                </div>
            </div>
            <div class="row">
                <input name="main_to_sub" type=submit value=次へ class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
