{# {% extends "layout.html" %} #}
{% extends "chart.html" %}
{% block body %}

<header class="major">
    <h2>Step1/3</h2>
    <h3>まずは、あなたが解決したい問題や、達成したい目標を教えてください。</h3>
    <p>下記フォームに問題や目標を入力したら「次へ」を押してください。</p>
</header>

<div class="form-group">
    <form method="post" action="{{ url_for('show_chart', username=username) }}" class="main_theme">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">
                    <textarea name="main_theme" cols="20" rows="3" class="form-control">{{ main_theme }}</textarea>
                    <p>　</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <input name="main_to_sub" type=submit value=次へ class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}
